# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive
*.pem
*.key

# BrokerVM
*.vmdk